@model ControlePortaria.Models.Pessoa
@{
	ViewData["Title"] = "Cadastro Pessoa";
	ViewBag.Modo = "Create";
}



<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Pessoas</title>
</head>
<body>

	 <partial name="_PessoaResumo" for ="@Model" />


</body>
</html>
