@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top: 10%;">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-tamanho" src="~/images/people.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Pessoas</h5>
                    <p class="card-text">Listar e cadastrar pessoas</p>
                    <a class="btn btn-primary d-block p-2 text-white" asp-area="" asp-controller="Pessoas" asp-action="List">Acessar</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-tamanho" src="~/images/car.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Carros</h5>
                    <p class="card-text">Listar e cadastrar carros</p>
                    <a class="btn btn-primary d-block p-2 text-white" asp-area="" asp-controller="Carros" asp-action="List">Acessar</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-2">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top img-tamanho" src="~/images/portaria.png" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Portaria</h5>
                    <p class="card-text">Lançar entrada e saida</p>
                    <a class="btn btn-primary d-block p-2 text-white" asp-area="" asp-controller="Pessoas" asp-action="List">Acessar</a>
                </div>
            </div>

        </div>
    </div>
</div>