:root {
    --primary-color: #e53da0;
    --secondary-color: #555BAE;
    --font-size-base: 16px;
    --padding-base: 10px;
}

.img-tamanho {
    width: 286px;
    height: 229px;
}

.btn-primary, .btn-secondary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: none !important;
}

    .btn-primary:hover, .btn-secondary:hover {
        background-color: var( --secondary-color);
        border-color: var( --secondary-color);
        box-shadow: none !important;
    }
    .btn-primary:focus, btn-secondary:focus {
        background-color: var(--secondary-color);
    }
    .btn-check:focus + .btn-secondary, .btn-secondary:focus {
        background-color: var(--secondary-color);
    }
    .btn-primary:active, btn-secondary:active {
        background-color: var(--secondary-color);
    }

    .remove-shadow {
    }
